
@font-face {
    font-family: 'Playfair_Regular';
    src: url('/fonts/PlayfairDisplay-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Playfair_Medium';
    src: url('/fonts/PlayfairDisplay-Medium.ttf') format('trueType');
}

@font-face {
    font-family: 'Playfair_Bold';
    src: url('/fonts/PlayfairDisplay-Bold.ttf') format('truetype');
}