$dark-gray: #62666C;
$gray: #B7BCC6;
$light-gray: #E8E7E6;
$basic-gray: #c4c4c4;
$bg-gray: rgba(243, 243, 243, 1);
$bg-dark-gray: rgba(98, 102, 108, 0.75);

$dark-green: rgba(3, 125, 72, 0.8);
$green: rgba(3, 125, 72, 0.7);
$light-green: rgba(3, 125, 72, 0.3);

$beige: rgba(243, 243, 243, 1);
$white: #ffffff;
$black: #333333;