$dark-gray: #62666C;
$gray: #B7BCC6;
$light-gray: #E8E7E6;
$background-gray: #F3F3F3;

$dark-green: rgba(3, 125, 72, 0.8);
$green: rgba(3, 125, 72, 0.7);
$light-green: rgba(3, 125, 72, 0.3);

$beige: rgba(243, 243, 243, 1);
$white: #ffffff;
$black: #333333;