@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-BlackItalic.eot');
	src: local('Playfair Display SC Black Italic'), local('PlayfairDisplaySC-BlackItalic'),
		url('PlayfairDisplaySC-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-BlackItalic.woff') format('woff'),
		url('PlayfairDisplaySC-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-BoldItalic.eot');
	src: local('Playfair Display SC Bold Italic'), local('PlayfairDisplaySC-BoldItalic'),
		url('PlayfairDisplaySC-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-BoldItalic.woff') format('woff'),
		url('PlayfairDisplaySC-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Italic.eot');
	src: local('Playfair Display SC Italic'), local('PlayfairDisplaySC-Italic'),
		url('PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Italic.woff') format('woff'),
		url('PlayfairDisplaySC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-BoldItalic.eot');
	src: local('Playfair Display-Bold Italic'), local('PlayfairDisplay-BoldItalic'),
		url('PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('PlayfairDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Black.eot');
	src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
		url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Black.woff') format('woff'),
		url('PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-BlackItalic.eot');
	src: local('Playfair Display-Black Italic'), local('PlayfairDisplay-BlackItalic'),
		url('PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-BlackItalic.woff') format('woff'),
		url('PlayfairDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Regular.eot');
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Regular.woff') format('woff'),
		url('PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Bold.eot');
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Bold.woff') format('woff'),
		url('PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Black.eot');
	src: local('Playfair Display SC Black'), local('PlayfairDisplaySC-Black'),
		url('PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Black.woff') format('woff'),
		url('PlayfairDisplaySC-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Italic.eot');
	src: local('Playfair Display-Italic'), local('PlayfairDisplay-Italic'),
		url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Italic.woff') format('woff'),
		url('PlayfairDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Bold.eot');
	src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'),
		url('PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Bold.woff') format('woff'),
		url('PlayfairDisplaySC-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Regular.eot');
	src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'),
		url('PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Regular.woff') format('woff'),
		url('PlayfairDisplaySC-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-BoldItalic.eot');
	src: local('Avenir Next Cyr Bold Italic'), local('AvenirNextCyr-BoldItalic'),
		url('AvenirNextCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-BoldItalic.woff') format('woff'),
		url('AvenirNextCyr-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Light.eot');
	src: local('Avenir Next Cyr Light'), local('AvenirNextCyr-Light'),
		url('AvenirNextCyr-Light.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Light.woff') format('woff'),
		url('AvenirNextCyr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Demi.eot');
	src: local('Avenir Next Cyr Demi'), local('AvenirNextCyr-Demi'),
		url('AvenirNextCyr-Demi.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Demi.woff') format('woff'),
		url('AvenirNextCyr-Demi.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-ThinItalic.eot');
	src: local('Avenir Next Cyr Thin Italic'), local('AvenirNextCyr-ThinItalic'),
		url('AvenirNextCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-ThinItalic.woff') format('woff'),
		url('AvenirNextCyr-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Italic.eot');
	src: local('Avenir Next Cyr Italic'), local('AvenirNextCyr-Italic'),
		url('AvenirNextCyr-Italic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Italic.woff') format('woff'),
		url('AvenirNextCyr-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-HeavyItalic.eot');
	src: local('Avenir Next Cyr Heavy Italic'), local('AvenirNextCyr-HeavyItalic'),
		url('AvenirNextCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-HeavyItalic.woff') format('woff'),
		url('AvenirNextCyr-HeavyItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-MediumItalic.eot');
	src: local('Avenir Next Cyr Medium Italic'), local('AvenirNextCyr-MediumItalic'),
		url('AvenirNextCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-MediumItalic.woff') format('woff'),
		url('AvenirNextCyr-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-LightItalic.eot');
	src: local('Avenir Next Cyr Light Italic'), local('AvenirNextCyr-LightItalic'),
		url('AvenirNextCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-LightItalic.woff') format('woff'),
		url('AvenirNextCyr-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Medium.eot');
	src: local('Avenir Next Cyr Medium'), local('AvenirNextCyr-Medium'),
		url('AvenirNextCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Medium.woff') format('woff'),
		url('AvenirNextCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr Ultra';
	src: url('AvenirNextCyr-UltraLightIt.eot');
	src: local('Avenir Next Cyr Ultra Light Italic'), local('AvenirNextCyr-UltraLightIt'),
		url('AvenirNextCyr-UltraLightIt.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-UltraLightIt.woff') format('woff'),
		url('AvenirNextCyr-UltraLightIt.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Regular.eot');
	src: local('Avenir Next Cyr Regular'), local('AvenirNextCyr-Regular'),
		url('AvenirNextCyr-Regular.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Regular.woff') format('woff'),
		url('AvenirNextCyr-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr Ultra';
	src: url('AvenirNextCyr-UltraLight.eot');
	src: local('Avenir Next Cyr Ultra Light'), local('AvenirNextCyr-UltraLight'),
		url('AvenirNextCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-UltraLight.woff') format('woff'),
		url('AvenirNextCyr-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Heavy.eot');
	src: local('Avenir Next Cyr Heavy'), local('AvenirNextCyr-Heavy'),
		url('AvenirNextCyr-Heavy.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Heavy.woff') format('woff'),
		url('AvenirNextCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Bold.eot');
	src: local('Avenir Next Cyr Bold'), local('AvenirNextCyr-Bold'),
		url('AvenirNextCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Bold.woff') format('woff'),
		url('AvenirNextCyr-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-DemiItalic.eot');
	src: local('Avenir Next Cyr Demi Italic'), local('AvenirNextCyr-DemiItalic'),
		url('AvenirNextCyr-DemiItalic.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-DemiItalic.woff') format('woff'),
		url('AvenirNextCyr-DemiItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url('AvenirNextCyr-Thin.eot');
	src: local('Avenir Next Cyr Thin'), local('AvenirNextCyr-Thin'),
		url('AvenirNextCyr-Thin.eot?#iefix') format('embedded-opentype'),
		url('AvenirNextCyr-Thin.woff') format('woff'),
		url('AvenirNextCyr-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}
