.footer_wraper {
  .navbar {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    padding: 20px 0;
    background: $black;

    .nav-link {
      color: $white;
      &:hover {
        color: $green;
      }
    }
  }
}