.footer_wraper {
  background: $black;
  color: $basic-gray;

  .navbar {
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    padding: 20px 0;

    .nav-link {
      color: $white;
      &:hover {
        color: $green;
      }
    }
  }

  .line {
    p {
      padding: 8px 0 18px;
    }
    div {
      height: 1px;
      background: $basic-gray;
    }
  }

  .footer__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 4px 5px 15px rgba(84, 96, 97, 0.3);
  }
}