.header_wraper {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    padding: 20px 0;
    background: rgba(243, 243, 243, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    .navbar-brand {
      padding: 0;
      img {
        max-height: 48px;
      }
    }

    .nav-link {
      color: $black;
      &.active,
      &:hover,
      &:focus,
      &:active {
        font-weight: 500;
        color: $green;
        text-decoration: underline;
      }
    }
  }
}

#formModal {
  .modal-content {
    width: auto;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 14px 23px rgba(28, 37, 44, 0.08);
  }
}

#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99999;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  height: 50px;
  width: 50px;
  opacity: 0.7;
}

.header-social img {
  height: 60px;
  width: 60px;
}

@include media-breakpoint-down(md) {
  .header-social {
    height: 100vh;
    img {
      height: 60px;
      width: 60px;
    }
  }

  .navbar-toggler {
    width: 60px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:focus {
      box-shadow: none;
    }
    i {
      position: relative;
      display: inline-block;
      width: 45px;
      height: 3px;
      color: #63666c;
      font: bold 14px/0.4 Helvetica;
      text-transform: uppercase;
      text-indent: -55px;
      background: #63666c;
      transition: all 0.2s ease-out;
    }
    i::before,
    i::after {
      content: "";
      width: 45px;
      height: 3px;
      background: #63666c;
      position: absolute;
      left: 0;
      transition: all 0.2s ease-out;
    }
    i::before {
      top: -10px;
    }
    i::after {
      bottom: -10px;
    }
    &:hover i::before {
      top: -12px;
    }
    &:hover i::after {
      bottom: -12px;
    }
    &.open i {
      background: none;
    }
    &.open i::before {
      top: 0;
      -webkit-transform: rotateZ(45deg);
      -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
      -o-transform: rotateZ(45deg);
      transform: rotateZ(45deg);
    }
    &.open i::after {
      bottom: 0;
      -webkit-transform: rotateZ(-45deg);
      -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
      -o-transform: rotateZ(-45deg);
      transform: rotateZ(-45deg);
    }
  }

  .header_wraper {
    .navbar {
      .nav-link {
        color: $dark-gray;
        font-size: 30px !important;
      }
    }
  }

  .navbar-nav .nav-item {
    &:first-child {
      margin-top: 39px !important;
    }
    &:last-child {
      margin-bottom: 39px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .navbar {
    .btn {
      padding: 11px 14.5px;
    }
  }
  .number-text {
    font-size: 1.5em;
  }
}

@include media-breakpoint-down(xl) {
  .nav-item:not(:last-child) {
    margin: 0 !important;
  }
}
