.header_wraper {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 101;
    padding: 20px 0;
    background: rgba(243, 243, 243, 0.6);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    .navbar-brand {
      padding: 0;
      img {
        max-height: 48px;
      }
    }

    .nav-link {
      color: $black;
      &.active,
      &:hover,
      &:focus,
      &:active {
        font-weight: 500;
        color: $green;
        text-decoration: underline;
      }
    }
  }
}

#formModal {
  .modal-content {
    min-width: 628px;
    background-color: $white;
    border-radius: 15px;
    box-shadow: 0 14px 23px rgba(28, 37, 44, 0.08);
  }
}

#scrollButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  height: 50px;
  width: 50px;
}

.header-social img {
  height: 60px;
  width: 60px;
}

@include media-breakpoint-down(sm) {
  .header-social img {
    height: 60px;
    width: 60px;
  }

  .navbar-toggler {
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    &:focus {
      box-shadow: none;
    }
    span {
      display: block;
      position: absolute;
      height: 5px;
      width: 50%;
      background: $dark-gray;
      opacity: 1;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.25s ease-in-out;
      -moz-transition: 0.25s ease-in-out;
      -o-transition: 0.25s ease-in-out;
      transition: 0.25s ease-in-out;
    }
    & span:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    & span:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px;
    }

    & span:nth-child(1),
    & span:nth-child(2) {
      top: 0px;
    }

    & span:nth-child(3),
    & span:nth-child(4) {
      top: 18px;
    }

    & span:nth-child(5),
    & span:nth-child(6) {
      top: 36px;
    }

    &.open span:nth-child(1),
    &.open span:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.open span:nth-child(2),
    &.open span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &.open span:nth-child(1) {
      left: 5px;
      top: 7px;
    }

    &.open span:nth-child(2) {
      left: calc(50% - 5px);
      top: 7px;
    }

    &.open span:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    &.open span:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &.open span:nth-child(5) {
      left: 5px;
      top: 29px;
    }

    &.open span:nth-child(6) {
      left: calc(50% - 5px);
      top: 29px;
    }
  }

  .nav-link {
    font-size: 30px !important;
  }

  .navbar-nav .nav-item {
    &:first-child {
      margin-top: 39px;
    }
    &:last-child {
      margin-bottom: 39px;
    }
  }
}
