.prices {
  background-color: $bg-gray;
  @include responsive_mobile() {
    background-color: $white;
  }

  .collage {
    img {
      height: 632px;
      object-fit: cover;
      @include responsive_mobile() {
        height: 376px;
      }
    }
    &__content {
      .heading {
        color: $white;
        margin-bottom: 36px;
        @include responsive_mobile() {
          font-size: 1.25em;
        }
      }
      p {
        font-size: 2.2em;
        @include responsive_mobile() {
          font-size: 1.125em;
          line-height: 1.5em;
        }
      }
    }
  }

  &-attention {
    border-radius: 20px;
    border: 3px solid $green;
    background-color: $white;
    box-shadow: 0px 14px 23px rgba(0, 0, 0, 0.05);
    padding: 31px 109px;
    margin: 6.9rem 0;

    @include responsive_mobile() {
      padding: 24px;
    }

    p {
      font-size: 1.7em;
      letter-spacing: 1.5px;
      color: $dark-gray;
      @include responsive_mobile() {
        font-size: 1.125em;
      }
    }
  }

  &-list {
    background: $white;
    box-shadow: 0px 14px 23px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 70px 109px;
    margin-bottom: 6rem;
    @include responsive_mobile() {
      padding: 0 16px;
    }

    .heading {
      color: $dark-gray;
      font-size: 2.2em;
      font-weight: 600;
      margin-right: 16px;
      letter-spacing: 2px;
      @include responsive_mobile() {
        font-size: 1.625em;
      }
    }

    img {
      max-height: 47px;
      display: block;
    }
  }

  .accordion {
    &-body {
      color: $black;
      font-size: 1.25em;
      font-weight: 300;
      padding: 32px;
      @include responsive_mobile() {
        font-size: 1em;
      }
    }
    &-button {
      padding: 1rem 40px;
      background-color: $dark-gray;
      color: $white;
      font-size: 1.5rem;
      font-weight: 400;
      @include responsive_mobile() {
        padding: 12px 24px;
        font-size: 1.25rem;
      }

      &::after,
      &:not(.collapsed)::after {
        background-image: url("../img/icons/arrow-white.png");
      }
    }
  }
}

@include media-breakpoint-down(xl) {
  .prices {  
    .collage {
      img {
        height: 250px;
      }
    }
    &-attention {
      padding: 16px;
      margin: 3rem 0 3rem 0;
      p {
        font-size: 1em;
        margin-bottom: 0;
      }
    }
    &-list {
      padding: 56px 0;
      margin-bottom: 0;
      .heading {
        margin: 0;
        font-size: 1.5em;
      }
      .accordion {
        &-body{
          font-size: 16px;
          &__title {
            flex: 2;
          }
          &__price {
            text-align: right;
            flex: 1;
          }
        }
        &-button {
          font-size: 18px;
        }
      }
    }
  }
}

