.services-title {
  margin-top: 132px;
  .heading {
    color: $dark-gray;
    font-size: 2.2em;
    font-weight: 600;
    margin-right: 16px;
    letter-spacing: 2px;
  }

  img {
    max-height: 47px;
    display: block;
  }
}

.services-item {
  position: relative;
  z-index: 100;
  height: 285px;
  padding: 2em;
  margin: 0.5px;
  cursor: pointer;

  &:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 10;
    background: rgba(38, 50, 56, 0.25);
  }
  &:hover img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); 

  }
  &__bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    img {
      transition: all 3s ease;
      object-fit: cover;
      height: 100%;
    }
  }
  &__title {
    position: relative;
    z-index: 100;
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    color: $white;
  }
}

.services-item-details {
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include responsive(0px, 1199px) {
    margin-bottom: 36px;
    padding: 0;
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: $black;
    @include responsive(0px, 1199px) {
      color: $white;
    }
  }

  &__paragraph {
    padding: 56px;
    max-width: 600px;
    font-family: "Avenir Next Cyr", sans-serif;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(-360px);
    @include responsive(0px, 1199px) {
      padding: 30px;
      color: $white;
      background-color: rgba(0, 0, 0, 0.2);
      transform: none;
    }

    &--reverse {
      transform: translateX(360px);
      @include responsive(0px, 1199px) {
        transform: none;
      }
    }
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: $black;
    @include responsive(0px, 1199px) {
      color: $white;
    }

    li {
      padding: 6px 0;
    }
  }

  &__diagnostics {
    background-image: url(../img/3_page_services/picture/services-details1.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details1.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/tablet/3_page_services/picture/services-details1.jpg);
        background-size: cover;
     }
   }
  }
  &__caries {
    background-image: url(../img/3_page_services/picture/services-details2.jpg);
    background-position: right calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details2.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/tablet/3_page_services/picture/services-details2.jpg);
        background-size: cover;
     }
   }
  }
  &__whitening {
    background-image: url(../img/3_page_services/picture/services-details3.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details3.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/else/tablet/3_page_services/picture/services-details3.jpg);
      background-size: cover;
     }
   }
  }
  &__channels {
    background-image: url(../img/3_page_services/picture/services-details4.jpg);
    background-position: right calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details4.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/else/tablet/3_page_services/picture/services-details4.jpg);
      background-size: cover;
     }
   }
  }
  &__children {
    background-image: url(../img/3_page_services/picture/services-details5.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details5.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/else/tablet/3_page_services/picture/services-details5.jpg);
      background-size: cover;
     }
   }
  }
  &__surgery {
    background-image: url(../img/3_page_services/picture/services-details6.jpg);
    background-position: right calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details6.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/else/tablet/3_page_services/picture/services-details6.jpg);
      background-size: cover;
     }
   }
  }
  &__orthodontics {
    background-image: url(../img/3_page_services/picture/services-details7.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details7.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/else/tablet/3_page_services/picture/services-details7.jpg);
      background-size: cover;
     }
   }
  }
  &__emax {
    background-image: url(../img/3_page_services/picture/services-details8.jpg);
    background-position: right calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details8.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(../img/else/tablet/3_page_services/picture/services-details8.jpg);
      background-size: cover;
     }
   }
  }
  &__denture {
    background-image: url(../img/3_page_services/picture/services-details9.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1199px) {
      background: none;
    }
    .services-item-details__paragraph {
      @include responsive(0px, 767px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/mob/3_page_services/picture/services-details9.jpg);
        background-size: cover;
     }
     @include responsive(768px, 1199px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(../img/else/tablet/3_page_services/picture/services-details9.jpg);
        background-size: cover;
     }
   }
  }
}

.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.anchor:nth-child(n+2) {
  padding-top: 82px;
}

@include media-breakpoint-down(md) {
  .services-item {
    margin: 0 0 0.5px 0;
  }
  .services-title {
    justify-content: center;
    margin-top: 82px;
  }

  .services-item-details__paragraph {
    border-radius: 0;
  }
}