//left
.ms-6 {
  margin-left: 5rem!important;
}
.ms-7 {
  margin-left: 6rem!important;
}
.ms-8 {
  margin-left: 6.5rem!important;
}
.ms-9 {
  margin-left: 6.9rem!important;
}
//bottom
.mb-6 {
  margin-bottom: 5rem!important;
}
.mb-7 {
  margin-bottom: 6rem!important;
}
.mb-8 {
  margin-bottom: 6.5rem!important;
}
.mb-9 {
  margin-bottom: 6.9rem!important;
}
//top
.mt-6 {
  margin-top: 5rem!important;
}
.mt-7 {
  margin-top: 6rem!important;
}
.mt-8 {
  margin-top: 6.5rem!important;
}
.mt-9 {
  margin-top: 6.9rem!important;
}