
//TODO: replace sizes

.playfair_regular_base{
    font-family: 'Playfair_Regular';
    color: $dark-gray;
}

.play_reg_26{
    @extend .playfair_regular_base;
    font-size: 26px;
}

.play_reg_22{
    @extend .playfair_regular_base;
    font-size: 22px;
}

.play_reg_16{
    @extend .playfair_regular_base;
    font-size: 16px;
}

.play_reg_12{
    @extend .playfair_regular_base;
    font-size: 12px;
}

.play_reg_26, .play_reg_22, .play_reg_16, .play_reg_12{
    &.gray{
        color: $gray;
    }
}

// playfair medium
.playfair_medium_base{
    font-family: 'Playfair_Medium';
    color: $dark-gray;
}

.play_med_26{
    @extend .playfair_medium_base;
    font-size: 26px;
}

.play_med_22{
    @extend .playfair_medium_base;
    font-size: 22px;
}

.play_med_16{
    @extend .playfair_medium_base;
    font-size: 16px;
}

.play_med_12{
    @extend .playfair_medium_base;
    font-size: 12px;
}

.play_med_26, .play_med_22, .play_med_16, .play_med_12{
    &.gray{
        color: $gray;
    }
}

// playt bold
.playfair_bold_base{
    font-family: 'Playfair_Bold';
    color: $dark-gray;
}

.play_bold_26{
    @extend .playfair_bold_base;
    font-size: 26px;
}

.play_bold_22{
    @extend .playfair_bold_base;
    font-size: 22px;
}

.play_bold_16{
    @extend .playfair_bold_base;
    font-size: 16px;
}

.play_bold_12{
    @extend .playfair_bold_base;
    font-size: 12px;
}

.play_bold_26, .play_bold_22, .play_bold_16, .play_bold_12{
    &.gray{
        color: $gray;
    }
}