body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}


@import './_responsive_mixins';
@import './__fonts';
@import './__colors';
@import './__typography';

// sections
@import './__header';
@import './__footer';

// pages
@import './__home';

.mob_hidden{
    display: block;
    @include responsive_mobile(){
        display: none;
    }
}

.tab_hidden{
    display: block;
    @include responsive_tab(){
        display: none;
    }
}

// buttons
.btn {
    border-radius: 30px;
    padding: 14.5px 27.5px;
    
    &-outline-success {
        border-color: $green;
    }
}

i {
    font-size: 40px;
    color: $white;
}