@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./_responsive_mixins";
@import "./__fonts";
@import "./__colors";
@import "./__typo";
@import "./__spacing";
@import "./_responsive_mixins";

// sections
@import "./__header";
@import "./__footer";
@import "./_carousel";
@import "./_form";

// pages
@import "./__home";
@import "./__about";
@import "./__services";
@import "./__prices";
@import "./__contacts";

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: $beige;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

img {
  width: 100%;
}

video {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  margin-top: 95px;
}

input {
  -webkit-appearance: none;
}

.modal-content {
  top: 20px;
}

.mob_hidden {
  display: block;
  @include responsive_mobile() {
    display: none;
  }
}

.tab_hidden {
  display: block;
  @include responsive_tab() {
    display: none;
  }
}

// buttons
.btn {
  border-radius: 15px;
  padding: 11px 27.5px;

  &-outline-success {
    color: $black;
    font-weight: 500;
    border-color: $green;
  }
}

//for maps
.position-relative {
  max-height: 640px;
}

// 404
.page-wrapper {
  min-height: calc(100vh - 212px);

  img {
    // height: 284px;
    // width: auto;
    width: 100%;
    height: auto;
  }

  .heading,
  p {
    color: $dark-gray;
    font-weight: 100;
  }
  .heading {
    font-size: 1.8em;
    letter-spacing: 3px;
    margin-bottom: 24px;
  }
  p {
    font-size: 1.1em;
    letter-spacing: 1px;
  }
}

// parallax
.parallax {
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-image--1 {
  background-image: url("../img/1_page/photos/46.jpg");
}
.parallax-image--2 {
  background-image: url("../img/1_page/photos/smile.jpg");
}
.parallax-image--3 {
  background-image: url("../img/1_page/photos/dentals.jpg");
}
.parallax-image--4 {
  background-image: url("../img/4_page_price/prices-heading.jpg");
}
.parallax-image--5 {
  background-image: url("../img/4_page_price/prices-form.jpg");
}
.parallax-image--6 {
  background-image: url("../img/else/mob/2_page_about_us/picture/Mask_Groupph.jpg");
  min-height: 500px;
  background-position: 100% 10%;
}
.parallax-image--7 {
  background-image: url("../img/2_page_about_us/picture/5.jpg");
}

@include media-breakpoint-down(lg) {
  .parallax {
    min-height: 500px;
    background-attachment: scroll;
  }
  .parallax-image--1 {
    background-image: url("../img/1_page/photos/46-mob.jpg");
  }
  .parallax-image--2 {
    background-image: url("../img/1_page/photos/smille-mob.jpg");
  }
  .parallax-image--3 {
    background-image: url("../img/1_page/photos/dentals-mob.jpg");
  }
  .parallax-image--4 {
    background-image: url("../img/else/mob/4_page_price/picture/ph.jpg");
  }
  .parallax-image--5 {
    background-image: url("../img/4_page_price/prices-form.jpg");
  }
  .parallax-image--6 {
    background-image: url("../img/else/mob/2_page_about_us/picture/Mask_Groupdoc1.jpg");
  }
  .parallax-image--7 {
    background-image: url("../img/2_page_about_us/picture/5.jpg");
  }

}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .parallax {
    min-height: 600px;
    background-attachment: scroll;
  }
  .d-xl-block {
    display: block;
  }
}