@import "./_responsive_mixins";
@import "./__fonts";
@import "./__colors";

// sections
@import "./__header";
@import "./__footer";

// pages
@import "./__home";

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $beige;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

@import './__fonts';
@import './__colors';
@import './__typo';
@import './__spacing';
@import './_responsive_mixins';

.mob_hidden {
  display: block;
  @include responsive_mobile() {
    display: none;
  }
}

.tab_hidden {
  display: block;
  @include responsive_tab() {
    display: none;
  }
}

// buttons
.btn {
  border-radius: 30px;
  padding: 14.5px 27.5px;

  &-outline-success {
    border-color: $green;
  }
}

i {
  font-size: 40px;
  color: $white;
}

// ABOUT PAGE
@mixin modal-close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  font-size: 24px;
}

.container-fluid {
  padding: 0 80px;
}

.promo {
  position: relative;
  margin-top: 95px;
  margin-bottom: 78px;

  &__text {
    position: absolute;
    bottom: 0;
    padding: 30px 80px;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: $white;
    @include responsive_tab() {
      font-size: 28px;
    }
    @include responsive_mobile() {
      font-size: 20px;
    }
  }
}

.team {
  &__title {
    margin-bottom: 32px;
    display: flex;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: $dark-gray;
    white-space: nowrap;
    @include responsive_mobile() {
      font-size: 24px;
    }

    img {
      margin-left: 18px;
      width: auto;
      max-height: 51px;
    }
  }

  &__text {
    margin-bottom: 16px;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: $dark-gray;
    @include responsive_mobile() {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__image {
    margin-top: 32px;
    margin-bottom: 48px;
  }
}

.doctors {
  margin-top: 82px;
  padding: 0;
}

.doctor-card {
  font-family: "Avenir Next Cyr", sans-serif;
  background-color: transparent;
  border: none;

  &__annotation {
    margin: 0 15px;
    padding: 12px 28px;
    text-align: left;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(-50%);
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: $dark-gray;
  }

  &__spec {
    font-size: 12px;
    color: $dark-gray;
  }
}

.doctor-modal {
  font-family: "Avenir Next Cyr", sans-serif;

  &__close-btn {
    @include modal-close-btn;
  }

  &__content {
    border: none;
  }

  &__body {
    padding: 0;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
  }

  &__article {
    padding: 60px;
    width: 50%;
    background-repeat: no-repeat;

    h3 {
      margin-bottom: 32px;
      font-size: 16px;
      font-weight: 500;
      color: $dark-gray;
      letter-spacing: 0.04em;
    }

    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 128%;
      letter-spacing: 0.04em;
      color: $black;
    }

    &--1 {
      background-image: url(../img/2_page_about_us/illustration/instruments.png);
      background-size: 242px;
      background-position: 55% 95%;
    }

    &--2 {
      background-image: url(../img/2_page_about_us/illustration/teeth.png);
      background-size: 350px;
      background-position: -25% 115%;
    }

    &--3 {
      background-image: url(../img/2_page_about_us/illustration/teeth-sparkle.png);
      background-size: 382px;
      background-position: 2% 0%;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/2_page_about_us/illustration/teeth-sparkle.png);
        background-size: 382px;
        background-position: 85% 95%;
        background-repeat: no-repeat;
        transform: scaleX(-1);
      }
    }

    &--4 {
      background-image: url(../img/2_page_about_us/illustration/teeth.png),
        url(../img/2_page_about_us/illustration/inst.png);
      background-size: 350px, 300px;
      background-position: 128% -21%, 128% 118%;
    }

    &--5 {
      background-image: url(../img/2_page_about_us/illustration/teeth-instruments.png),
        url(../img/2_page_about_us/illustration/teeth-search.png);
      background-size: 420px, 375px;
      background-position: 153% 30%, -53% 121%;
    }

    &--6 {
      background-image: url(../img/2_page_about_us/illustration/tooth.png);
      background-size: 350px;
      background-position: 90% 102%;
    }

    &--7 {
      background-image: url(../img/2_page_about_us/illustration/teeth-instruments.png);
      background-size: 400px;
      background-position: -50% -44px;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../img/2_page_about_us/illustration/tooth.png);
        background-size: 355px;
        background-position: 76% -12%;
        background-repeat: no-repeat;
        transform: rotate(-150deg);
      }
    }
  }

  &__photo {
    width: 50%;
  }

  &__content {
    border-radius: 10px;
  }
}

.services {
  font-family: "Avenir Next Cyr", sans-serif;

  &__title {
    margin-bottom: 54px;
    font-size: 40px;
    font-weight: 500;
    color: $black;
    text-align: center;
  }
}

.service-cards {
  margin-bottom: 112px;
}

.service-card {
  padding: 48px 24px 0;
  min-height: 252px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Avenir Next Cyr", sans-serif;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

  &__title {
    font-size: 24px;
    font-weight: 500;
    color: $green;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    color: $dark-gray;
  }
}

.advantage {
  margin-bottom: 82px;
  padding: 40px 80px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
  @include responsive(0px, 1384px) {
    margin-bottom: 36px;
    padding: 0;
  }

  &--laboratory {
    background-image: url(../img/2_page_about_us/picture/4.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1384px) {
      background: none;
    }

    .advantage__paragraph {
      @include responsive(0px, 1384px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url(../img/else/mob/2_page_about_us/picture/Mask_Groupfon.jpg);
        background-size: cover;
      }
    }
  }

  &--sterilization {
    background-image: url(../img/2_page_about_us/picture/3.jpg);
    background-position: right calc(50% + 300px) center;
    @include responsive(0px, 1384px) {
      background: none;
    }

    .advantage__paragraph {
      @include responsive(0px, 1384px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url(../img/else/mob/2_page_about_us/picture/Mask_Groupfon2.jpg);
        background-size: cover;
      }
    }
  }

  &--orthodontics {
    background-image: url(../img/2_page_about_us/picture/2.jpg);
    background-position: left calc(50% + 300px) center;
    @include responsive(0px, 1384px) {
      background: none;
    }

    .advantage__paragraph {
      @include responsive(0px, 1384px) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
          url(../img/else/mob/2_page_about_us/picture/Mask_Groupfon3.jpg);
        background-size: cover;
        background-position: 0 30%;
      }
    }
  }

  &__paragraph {
    padding: 56px;
    max-width: 600px;
    font-family: "Avenir Next Cyr", sans-serif;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transform: translateX(-300px);
    @include responsive(0px, 1384px) {
      color: $white;
      background-color: rgba(0, 0, 0, 0.2);
      transform: none;
    }

    &--reverse {
      transform: translateX(300px);
      @include responsive(0px, 1384px) {
        transform: none;
      }
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: $dark-gray;
    @include responsive(0px, 1384px) {
      color: $white;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    color: $black;
    @include responsive(0px, 1384px) {
      color: $white;
    }

    li {
      padding: 8px 0;
    }
  }

  &__button {
    display: block;
    margin: 0 auto;
    padding: 5px 34px;
    font-size: 18px;
    font-weight: 500;
    color: $black;
    background-color: $white;
    border: 2px solid $green;
    border-radius: 30px;
    box-shadow: 0 14px 23px rgba(28, 37, 44, 0.08);
    transition: background-color 0.3s;
    @include responsive(0px, 1384px) {
      color: $white;
      background-color: rgba(0, 0, 0, 0.6);
    }

    &:hover {
      background-color: $beige;
      @include responsive(0px, 1384px) {
        color: $white;
        background-color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

.advantage-modal {
  &__close-btn {
    @include modal-close-btn;
  }

  &__body {
    padding: 90px 80px 80px 80px;
    font-family: "Avenir Next Cyr", sans-serif;

    h2 {
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 0.04em;
      color: $dark-gray;
    }

    p,
    ul {
      margin-bottom: 16px;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      letter-spacing: 0.04em;
      color: $black;
    }
  }
}

.map {
  padding: 50px 80px;
  background-image: url(../img/2_page_about_us/picture/7.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &__form {
    display: flex;
    justify-content: flex-end;
    @include responsive_mobile() {
      justify-content: center;
    }
    @include responsive_tab() {
      justify-content: center;
    }
  }
}

.feedback-form {
  padding: 88px 75px;
  max-width: 628px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: 15px;
  box-shadow: 0 14px 23px rgba(28, 37, 44, 0.08);

  &__title {
    margin-bottom: 48px;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    line-height: 36px;
  }

  &__input {
    margin-bottom: 24px;
    padding: 12px 43px;
    align-self: stretch;
    font-family: "Avenir Next Cyr", sans-serif;
    font-size: 16px;
    color: $black;
    border: 1px solid $light-gray;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(28, 37, 44, 0.08);
    transition: border-color 0.3s;

    &:focus,
    &:-webkit-autofill {
      border-color: $green;
      outline: none;
    }
  }

  &__submit {
    margin-top: 32px;
    padding: 18px 34px;
    background-color: $white;
    border: 2px solid $green;
    border-radius: 15px;
    box-shadow: 0 14px 23px rgba(28, 37, 44, 0.08);
    transition: background-color 0.3s;

    &:hover {
      background-color: $beige;
    }
  }
}
